@model IEnumerable<VarietyFootwear.EntityFramework.Models.Order>

@{
    ViewData["Title"] = "Index";
    ViewBag.Selected = "Orders";
}




        <h2><u>Orders</u></h2>

        <table class="table">
            <thead>
                <tr>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Size)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Section)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Colour)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Section)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colour)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PurchaseOrderNumber" role="button" class="btn btn-success">Edit</a> 
                            <a asp-action="Details" asp-route-id="@item.PurchaseOrderNumber" role="button" class="btn btn-primary">Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.PurchaseOrderNumber" role="button" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       
        <p>&nbsp;</p>
        <div class="content_container">
            
                <a href="/login" role="button" class="btn btn-primary">Login</a>
            
            <!--close button_small-->
        </div><!--close content_container-->
        <div class="content_container">   
                <a href="/register" role="button" class="btn btn-primary">Register</a>
            
            <!--close button_small-->
        </div><!--close content_container-->
 
